
<div class="contents">
  <h5 class="user-name"><%= @name %>さんの投稿一覧</h5>
  <div class="contents-main">
    <div class="row">
      <% @posts.each do |post| %>
        <%= render partial: "posts/post", locals: {post: post} %>
      <% end %>
    </div>
    <%= paginate(@posts) %>
  </div>
</div>
