.contents{
  padding: 20px 0;
  .contents-main{
    width: 960px;
    margin: 0 auto;
  }
}
.pagination {
    background-color: #1de9b6;
    box-shadow: none;
    text-align: center;
    border-radius: 10px;
    width: 300px;
    margin: 0 auto;
}
