.comments{
  width: 960px;
  margin:0 auto;
  .center-align{
    margin:0 0 40px;
  }
  .comment{
    margin:0 auto 20px;
    padding:0 150px;
    font-size: 20px;
  }
}


.material-icons{
  padding: 5px 0;
}
.material-icons.liked{
  color:#ff8a80;
  padding:0;
}
.like{
  float: right;
  padding: 0 20px 0 0;
}
.counts{
  text-align:center;
}

.container .row .btn-box{
  text-align: center;
  .btn{
    margin: 20px 0;
  }
}
